#website_header{
        width:500px;
	height: 350px;
	border:solid 5px #d35400;
	padding: 15px;
	padding-top: 50px;
	margin: 30px;
	margin-left:200px;

	color:orange;
	font-size: 24px;
	font-family: tahoma;
	font-style: italic;
}

.website_header{
	border: solid 3px;
	width: 500px;
	margin: 0 auto;
}